In [1]:
1+1

2

In [2]:
s = "diwankar"
s[-1]

'r'

In [3]:
s[0]

'd'

In [4]:
s[1:2]

'i'

In [6]:
s[1:4]

'iwa'

In [9]:
print("hello \tworld")

hello 	world

In [10]:
s[::-1]

'raknawid'

In [14]:
x=  "hello world"

In [16]:
x.split()

['hello', 'world']

In [17]:
result = 100/77

In [18]:
result

1.2987012987012987

In [24]:
print("the result is {r:0.4f}".format(r=result))

the result is 1.2987

In [25]:
myList = ["one",1,2.0,"three"]

In [26]:
myList.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
my_list = ["one","two","apple"]

In [29]:
my_list.sort()

In [30]:
my_list

['apple', 'one', 'two']

In [31]:
my_list.reverse()

In [32]:
my_list.pop(0)

'two'

In [33]:
my_list.append("oranges")

In [34]:
my_list

['one', 'apple', 'oranges']

In [35]:
ls = [1,1,[1,2]]

In [36]:
type(ls)

list

In [41]:
ls[2][1]

2

In [38]:
ls[2]

[1, 2]

In [39]:
getLs = ls[2]

In [40]:
getLs[1]

2

In [42]:
pwd

'/Users/bhavanakajal/Python Learning'

In [43]:
with open('/Users/bhavanakajal/Python Learning/test.txt',mode='w+') as f:
    f.write("test file \n test line line 2")

In [46]:
open('test.txt').readlines()

['test file \n', ' test line line 2']

In [49]:
my_iter = [1,2,3]

for item in my_iter:
    print(item)

1
2
3

In [51]:
item = "abcjsljdks"

for idx,ch in enumerate(item):
    print(ch)

a
b
c
j
s
l
j
d
k
s

In [53]:
ls = range(0,6)

In [54]:
ls

range(0, 6)

In [56]:
range(6)

range(0, 6)

In [60]:
ls = [0,1,2,3,4]

fr = [x**2 for x in ls if x%2==0]

In [61]:
fr

[0, 4, 16]

In [71]:
# assessment test
print("*******************Question 1********************")
s = "print only the words that starts with s in this sentence"
s=s.split()
for word in s:
    if word.startswith('s'):
        print(word)

print("*******************Question 2********************")
for x in range(0,10):
    if x%2==0:
        print(x)

print("*******************Question 3********************")

ls = [num for num in range(0,50) if num%3==0]
ls

print("*******************Question 4********************")

words = "print every letter in this sentence that has an even number of letters"
words=words.split();
for word in words:
    if len(word)%2==0:
        print(word)

print("*******************Question 5********************")
print("*******************Question 6********************")

st = "create a list of first letters of every word in this string"

ans = [w[0] for w in st.split()]
ans

*******************Question 1********************
starts
s
sentence
*******************Question 2********************
0
2
4
6
8
*******************Question 3********************
*******************Question 4********************
letter
in
this
sentence
that
an
even
number
of
*******************Question 5********************
*******************Question 6********************

['c', 'a', 'l', 'o', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [73]:
num = list(range(0,10,2))
num

[0, 2, 4, 6, 8]

In [74]:
work_hours = [('Abby',7000),('Mac',1000),('Billy',2000)]

In [75]:
def employee_check(work_hours):
    current_max=0;
    employee_of_month=''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours 
            employee_of_month=employee
        else :
            pass 
    return (employee_of_month,current_max)

In [76]:
result = employee_check(work_hours)

In [77]:
result

('Abby', 7000)

In [78]:
### Game , Interation between functions

In [80]:
from random import shuffle

def shuffle_list(my_list):
    shuffle(my_list)
    return my_list 

def player_guess():
    
    guess = '' 
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number between 0,1,2 ")
    
    return int(guess)

def check_guess(mylist,guess):
    if my_list[guess] == 0:
        print("Correct!!")
    else:
        print("Wrong guess")
        print(my_list)

In [82]:
my_list=['0','','']

mixed_up_List = shuffle_list(my_list)

guess = player_guess()

check_guess(mixed_up_List,guess)

Pick a number between 0,1,2 2
Wrong guess
['', '0', '']

In [83]:
def myfunc(*args,**kwargs):
    print("I get {} {} ".format(args[0],kwargs['food']))

In [85]:
myfunc(10,20,30,food='eggs',fruits='orange')

I get 10 eggs

In [97]:
name = 'macdonald'
ch = name[0].upper()
ch1 = name[3].upper()
ch+name[1:3]+ch1+name[4:]

'MacDonald'

'Macdonald'

In [100]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        print(c)
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [101]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

H
e
l
l
o

M
r
.

R
o
g
e
r
s
,

h
o
w

a
r
e

y
o
u

t
h
i
s

f
i
n
e

T
u
e
s
d
a
y
?
Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [102]:

def display_game(game_list):
    print("Here is the game list")
    print(game_list)

In [103]:
display_game([1,2,3])

Here is the game list
[1, 2, 3]

In [104]:
def position_choice():
    
    choice = 'wrong'
    
    while choice not in ['0','1','2']:
        
        choice = input("Please pick any number from 0,1or 2 ")
        if choice not in ['0','1','2']:
            print("Invalid number . Please pick again")
    return int(choice)

In [105]:
position_choice()

Please pick any number from 0,1or 2 24
Invalid number . Please pick again
Please pick any number from 0,1or 2 2

2

In [106]:
def replacement_choice(game_list,position):
    user_placement=input("Type a string to place at that position  ")
    game_list[position] = user_placement
    return game_list

In [111]:
game_list= [1,2,3]
replacement_choice(game_list,1)

Type a string to place at that position  test

[1, 'test', 3]

hi

In [114]:
def game_onchoice():
    
    choice = 'wrong'
    
    while choice not in ['Y','N']:
        
        choice = input("Please type to continue with game (Y/N) ")
        if choice not in ['Y','N']:
            print("I don't understand . Please type (Y/N) ")
    
    if choice =='Y':
        return True
    else :
        return False

In [115]:
game_on()

Please type to continue with game (Y/N) N

False

In [116]:
game_on = True 
game_list = [0,1,2]

while game_on:
    
    display_game(game_list)
    position = position_choice()
    game_list=replacement_choice(game_list,position)
    display_game(game_list)
    game_on=game_onchoice()

Here is the game list
[0, 1, 2]
Please pick any number from 0,1or 2 44
Invalid number . Please pick again
Please pick any number from 0,1or 2 2
Type a string to place at that position  hat
Here is the game list
[0, 1, 'hat']
Please type to continue with game (Y/N) Y
Here is the game list
[0, 1, 'hat']
Please pick any number from 0,1or 2 1
Type a string to place at that position  test
Here is the game list
[0, 'test', 'hat']
Please type to continue with game (Y/N) N

In [122]:
### Milestone Project -1 

from IPython.display import clear_output

def display_board(board):
    
    print(board[7]+ ' | ' +board[8]+' | '+board[9])
    print(board[4]+' | '+board[5]+' | '+board[6])
    print(board[1]+' | '+board[2]+' | '+board[3])

In [123]:
board=['','','','','','','','','','']
display_board(board)

 |  |
 |  |
 |  |